.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.integrantes {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {

      background-image: url('img/silla.png');
      background-repeat: no-repeat;
      background-size: 700px 700px;
      background-position: center;
      background-color: rgb(255, 255, 255);
      font-family: Arial, sans-serif;
      color: rgb(0, 0, 0);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
